.mapa{
    background: linear-gradient(#fefefe, rgb(240, 224, 81));
}

.titulo__mapa{
    text-align: center;
    font-family: 'Pacifico, cursive';
    font-size: 50px;
    color:green;
    text-shadow: 0 2px 2px black;
}

.subtitulo__mapa{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.mapa__conteudo{
   padding: 3rem 0;
   width: 940px;
   margin: 0 auto;
}

